<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fixed Header with html and css | Collapsing Header Tutorial</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="C:\Users\perki\sevenmileshardware\presentation\static\styles\nav.css">
</head>
<body>
	<div class="box-area">
		<header>
			<div class="wrapper">
				<div class="logo">
                    <img src="C:\Users\perki\sevenmileshardware\presentation\images\logo.png">
					<a href="#">Seven Miles Hardware</a>
				</div>
				<nav>
					<a href="#">Home</a> <a href="#">Catalog</a> <a href="#">Sign Up</a> <a href="#">Login</a> 
				</nav>
			</div>
        </header>
        </div>
</body>
</html>
